Package: com.halliehax.snapify
Name: Snapify
Version: 1.0
Architecture: iphoneos-arm
Description: Send button for messages just like Snapchat!
Maintainer: HallieHax
Author: HallieHax
Section: Tweaks
Depends: firmware (>= 13.0), mobilesubstrate (>= 0.9.5000), ws.hbang.common (>=1.11)
