<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Basic</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.halliehax.snapify.prefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>ENABLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OPTIONS</string>
			<key>footerText</key>
			<string>THIS OPTION KEEPS THE SEND BUTTON AND ADDS THE SEND KEY ON KEYBOARD AS WELL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.halliehax.snapify.prefs</string>
			<key>key</key>
			<string>keepSendButton</string>
			<key>label</key>
			<string>DONT HIDE SEND BUTTON</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MADE BY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>CHECK OUT MY TWITTER</string>
			<key>user</key>
			<string>HaxHallie</string>
			<key>userID</key>
			<string>1366448821400723463</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>THIS TWEAK IS OPENSOURCE</string>
			<key>footerText</key>
			<string>YOU CAN CHECK OUT HOW I DID IT, AND SEE MY OTHER WORK</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>SNAPIFY ON GITHUB</string>
			<key>subtitle</key>
			<string>CHECKOUT HOW I DID IT</string>
			<key>url</key>
			<string>https://github.com/HallieBot/snapify</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>IF YOU LIKE THIS TWEAK</string>
			<key>footerText</key>
			<string>PURCHASING WAGGLETUNES HELPS ME CONTINUE TO PUT TIME INTO TWEAKS FOR THE COMMUNITY</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DOWNLOAD WAGGLETUNES</string>
			<key>subtitle</key>
			<string>A SYSTEM-WIDE MUSIC CONTROLLER FOR ANY SETUP</string>
			<key>url</key>
			<string>https://repo.packix.com/package/com.halliehax.waggletunes/</string>
		</dict>
	</array>
	<key>title</key>
	<string>SNAPIFY</string>
</dict>
</plist>
